USE [master]
GO
/****** Object:  Database [ATERRIZAR_COM]    Script Date: 07/06/2024 20:46:53 ******/
CREATE DATABASE [ATERRIZAR_COM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATERRIZAR_COM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ATERRIZAR_COM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATERRIZAR_COM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ATERRIZAR_COM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATERRIZAR_COM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATERRIZAR_COM]
GO
/****** Object:  Table [dbo].[DESTINO]    Script Date: 07/06/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTINO](
	[IdDestino] [int] IDENTITY(1,1) NOT NULL,
	[cdgDestino] [int] NOT NULL,
	[NombreDestino] [varchar](500) NOT NULL,
	[TipoTransporte] [int] NOT NULL,
	[PrecioTransporte] [float] NOT NULL,
 CONSTRAINT [PK_DESTINO] PRIMARY KEY CLUSTERED 
(
	[IdDestino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXCURSIONES]    Script Date: 07/06/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXCURSIONES](
	[IdExcursion] [int] IDENTITY(1,1) NOT NULL,
	[cdgdestino] [int] NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[Precio] [float] NOT NULL,
	[CantidadPersonas] [int] NULL,
	[Duracion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EXCURSIONES] PRIMARY KEY CLUSTERED 
(
	[IdExcursion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 07/06/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[IdHotel] [int] IDENTITY(1,1) NOT NULL,
	[NombreHotel] [varchar](80) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[PrecioPorNoche] [float] NOT NULL,
	[cdgDestino] [int] NOT NULL,
 CONSTRAINT [PK_HOTEL] PRIMARY KEY CLUSTERED 
(
	[IdHotel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAQUETE]    Script Date: 07/06/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAQUETE](
	[IdPaquete] [int] IDENTITY(1,1) NOT NULL,
	[cdgDestino] [int] NOT NULL,
	[NombrePaquete] [varchar](200) NOT NULL,
	[Descripcion] [varchar](400) NOT NULL,
	[PrecioPaquete] [money] NOT NULL,
	[Mes] [int] NOT NULL,
	[Duracion] [varchar](50) NOT NULL,
	[TipoTransporte] [int] NOT NULL,
	[URLimagen] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_PAQUETE] PRIMARY KEY CLUSTERED 
(
	[IdPaquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 07/06/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [int] NOT NULL,
	[EstadoReserva] [bit] NOT NULL,
	[IdPaquete] [int] NOT NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_RESERVA_1] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 07/06/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[CorreoElectronico] [varchar](150) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DESTINO] ON 

INSERT [dbo].[DESTINO] ([IdDestino], [cdgDestino], [NombreDestino], [TipoTransporte], [PrecioTransporte]) VALUES (2, 1, N'Bariloche', 1, 68700)
INSERT [dbo].[DESTINO] ([IdDestino], [cdgDestino], [NombreDestino], [TipoTransporte], [PrecioTransporte]) VALUES (3, 2, N'Jujuy', 1, 63200)
INSERT [dbo].[DESTINO] ([IdDestino], [cdgDestino], [NombreDestino], [TipoTransporte], [PrecioTransporte]) VALUES (4, 3, N'Villa Carlos Paz', 1, 65000)
SET IDENTITY_INSERT [dbo].[DESTINO] OFF
GO
SET IDENTITY_INSERT [dbo].[EXCURSIONES] ON 

INSERT [dbo].[EXCURSIONES] ([IdExcursion], [cdgdestino], [Descripcion], [Precio], [CantidadPersonas], [Duracion]) VALUES (1, 1, N'Circuito Chico - Lagos y Montañas', 15000, 1, N'4hs')
INSERT [dbo].[EXCURSIONES] ([IdExcursion], [cdgdestino], [Descripcion], [Precio], [CantidadPersonas], [Duracion]) VALUES (2, 1, N'San Martín de los Andes por la Ruta de los 7 Lagos', 42000, 1, N'10hs')
SET IDENTITY_INSERT [dbo].[EXCURSIONES] OFF
GO
SET IDENTITY_INSERT [dbo].[HOTEL] ON 

INSERT [dbo].[HOTEL] ([IdHotel], [NombreHotel], [Descripcion], [PrecioPorNoche], [cdgDestino]) VALUES (1, N'Alma Del Lago Suites', N'Ubicado frente al Lago Nahuel Huapi, en Bariloche', 169103, 1)
INSERT [dbo].[HOTEL] ([IdHotel], [NombreHotel], [Descripcion], [PrecioPorNoche], [cdgDestino]) VALUES (2, N'Villa Huapi', N'Situado en frente del lago Nahuel Huapi, en Dina Huapi', 81600, 1)
SET IDENTITY_INSERT [dbo].[HOTEL] OFF
GO
SET IDENTITY_INSERT [dbo].[PAQUETE] ON 

INSERT [dbo].[PAQUETE] ([IdPaquete], [cdgDestino], [NombrePaquete], [Descripcion], [PrecioPaquete], [Mes], [Duracion], [TipoTransporte], [URLimagen]) VALUES (2, 1, N'Nieve en Bariloche', N'Podras disfrutar la nieve en bariloche con el mejor hotel recomendado', 400000.0000, 7, N'7 Dias', 1, N'https://www.shutterstock.com/image-photo/argentina-patagonia-bariloche-island-isla-600nw-2240573477.jpg')
INSERT [dbo].[PAQUETE] ([IdPaquete], [cdgDestino], [NombrePaquete], [Descripcion], [PrecioPaquete], [Mes], [Duracion], [TipoTransporte], [URLimagen]) VALUES (3, 1, N'Bariloche low cost', N'Disfruta bariloche de una manera mas barata y accesible', 180000.0000, 7, N'4 Dias', 1, N'https://www.interpatagonia.com/bariloche/imagenes/sanbernardo2.jpg')
INSERT [dbo].[PAQUETE] ([IdPaquete], [cdgDestino], [NombrePaquete], [Descripcion], [PrecioPaquete], [Mes], [Duracion], [TipoTransporte], [URLimagen]) VALUES (5, 2, N'Jujuy Maravilloso', N'Descubre la belleza de la Quebrada de Humahuaca y la cultura local en un viaje inolvidable.', 300000.0000, 7, N'7 Dias', 1, N'https://media.istockphoto.com/id/1303686899/es/foto/paisaje-de-colores-en-purmamarca-jujuy-argentina.jpg?s=612x612&w=0&k=20&c=wQtVfID95eoE-w4o6TK_pe0JdplKmWGFEkLd2uyLgPE=')
SET IDENTITY_INSERT [dbo].[PAQUETE] OFF
GO
SET IDENTITY_INSERT [dbo].[RESERVA] ON 

INSERT [dbo].[RESERVA] ([IdReserva], [DNI], [EstadoReserva], [IdPaquete], [Precio]) VALUES (1, 11223344, 1, 2, 35000)
SET IDENTITY_INSERT [dbo].[RESERVA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([IdUsuario], [Nombre], [Apellido], [CorreoElectronico], [Password], [DNI], [Telefono]) VALUES (1, N'Agustin', N'Herrera', N'Agusveda110303@gmail.com', N'agu1234', 11223344, N'1123640290')
INSERT [dbo].[USUARIOS] ([IdUsuario], [Nombre], [Apellido], [CorreoElectronico], [Password], [DNI], [Telefono]) VALUES (2, N'Andres', N'ven i tez', N'andriuwSlanplay@yajo.am', N'andriuwthebest', 12341, N'1234512')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
/****** Object:  StoredProcedure [dbo].[SelPaqueteCompleto]    Script Date: 07/06/2024 20:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	Agustin Herrera
-- Create date: 06/06/2024
-- Description:	lista los paquetes con todos sus detalles.
-- =============================================
CREATE PROCEDURE  [dbo].[SelPaqueteCompleto]

AS
BEGIN
	SET NOCOUNT ON;

SELECT  [IdPaquete]
      ,[cdgDestino]
      ,[NombrePaquete]
      ,[Descripcion]
      ,[PrecioPaquete]
      ,[mes]
      ,[Duracion]
      ,[TipoTransporte]
  FROM PAQUETE AS P


END
GO
USE [master]
GO
